//custom style
body {
    font-family: "Raleway", sans-serif;
}

.navbar {
    font-weight: 100;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 3;
    &-brand h3 {
        font-weight: 100;
    }
    .nav-item {
        font-size: 1.4rem;
        font-weight: 100;
        color: white;
    }
    .nav-link:hover {
        border-bottom: 2px solid #35a122;
        transition: border 0.2s;
    }
}

#showcase {
    background: url(../images/Main.jpg) bottom center / cover no-repeat;
    min-height: 550px;
    position: relative;
    #header {
        z-index: 2;
    }
    #overlay {
        background: rgba(0, 0, 0, 0.2);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    h1 {
        font-family: "Questrial", sans-serif;
        line-height: 1;
    }
    #book {
        font-size: 1.5rem;
        border-radius: 2rem;
    }
}

#quotes {
    i {
        opacity: 0.3;
    }
}

#footer {
    font-weight: 100;
    .nav-item {
        color: white;
    }
    .nav-link:hover {
        border-bottom: 1px solid #aaaaaa;
        transition: border 0.2s;
    }
}

@media (max-width: 786px) {
    .navbar {
        background-color: #1f1f1f;
        .nav-link:hover {
            border-bottom: none;
            color: white;
            font-weight: 100;
        }
    }
    #showcase {
        min-height: 350px;
        h1 {
            font-size: 4rem;
        }
    }
}